.container-content {
    max-width: 1556px;
    padding: 140px 32px;
    margin: 0 auto;
}
h1, .title-h1 {
    font-size: 84px;
}
.title-h2 {
    font-size: 64px;
}
.title-h3 {
    font-size: 54px;
}
.title-h4 {
    font-size: 28px;
}
.sub-title {
    font-size: 24px;
}