// FONT FAMILY
$--ff-playfair-display: 'Playfair Display', serif;
$--ff-rubik: 'Rubik', sans-serif;
// COLOR
$--orange: #ff7757;
$--light-orange: #ffd2c7;
$--dark-brown: #331811;
$--brown: #61291c;
$--black-100: #172432;
$--gray: #767e86;
$--gray-fade: #9e9e9ea8;
$--white: #ffffff;
// MEDIA BREAKPOINT
$--desktop-L: 1920px;
$--desktop-M: 1440px;
$--desktop-S: 1152px;
$--tablet: 768px;
$--mobile: 320px;